@import '~constants';

.container {
  width: 100%;
  max-width: 600px;
  height: 100%;

  @media screen and (max-width: $breakpoint-xlarge) {
    max-width: 720px;
  }
}

.interior {
  padding: 16px;
}

.header {
  margin-top: 0px;
  text-transform: uppercase;
}
