$white-text: rgba(255, 255, 255, 0.87);
$white-text-muted: rgba(255, 255, 255, 0.6);
$black-text: rgba(0, 0, 0, 0.87);
$black-text-muted: rgba(0, 0, 0, 0.6);

$font-size-tiny: 0.68rem;
$font-size-small: 0.78rem;
$font-size-normal: 1rem;
$font-size-large: 1.2rem;
$font-size-extra-large: 1.75rem;
