@import '~constants';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Red+Hat+Text:wght@400;700&display=swap');

body {
  margin: 0px;
  padding: 0px;
  background-color: $default-background-color;
  font-family: 'Red Hat Text', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Code', sans-serif;
  font-weight: normal; //Fira looks better slimmed down
}

code {
  font-family: 'Fira Code', monospace;
}
