@import '~constants';

.container {
  width: 100vw;
  height: 100vh;
  min-height: 780px;
  background-color: $default-background-color;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media screen and (max-width: $breakpoint-large) {
    align-items: flex-start;
  }
}

.interior {
  display: flex;

  @media screen and (max-width: $breakpoint-large) {
    flex-direction: column;
    padding-top: 10%;
  }
}

.tagline {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (max-width: $breakpoint-large) {
    text-align: center;
    align-items: center;
  }
}

.jobTitle {
  text-transform: uppercase;
  color: $white-text;
}

.blurb {
  color: $white-text-muted;
}

.logoImage {
  max-width: 500px;
  margin-bottom: 8px;
  @media screen and (max-width: $breakpoint-large) {
    width: 85%;
  }
}

.divider {
  width: 1px;
  background-color: rgba(255, 255, 255, 0.496);
  margin: 0px 24px;

  @media screen and (max-width: $breakpoint-large) {
    width: 50%;
    height: 1px;
    margin: 24px auto;
  }
}

.skillset {
  padding: 8px;
}

.sectionTitle {
  color: $white-text;
  margin-top: 0px;
  margin-bottom: 8px;

  @media screen and (max-width: $breakpoint-large) {
    text-align: center;
  }
}

.chipContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;

  & > * {
    margin: 4px;
  }

  & > *:first-child {
    margin-left: 0px;
  }
  & > *:last-child {
    margin-right: 0px;
  }
  // & > *:not(:first-child):not(:last-child) {
  //   margin-left: 4px;
  //   margin-right: 4px;
  // }

  @media screen and (max-width: $breakpoint-large) {
    justify-content: center;
  }
}

.bottomDisclaimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 24px;
  text-align: center;
  padding: 12px;
  color: $white-text-muted;
}

.gitHubSourceLink {
  color: white;
  font-weight: bold;
}

.arrowDownward {
  color: white;
  margin-top: 24px;
  animation: bounce 2s ease infinite;
}

//https://codepen.io/nelledejones/pen/gOOPWrK
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
