doctype html

html
    head
        title Brett G - Full Stack Dev
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="description" content="Brett's interactive resume and portfolio site.")

        link(href=cssRoot rel="stylesheet")

    body
        div(id=reactEntryId)
        script(src=jsRoot)
