@import '~constants';

.preloadContainer {
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: #59467f;
  color: $white-text;
  padding: 16px;
  padding-bottom: 48px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
