@import '~constants';

.preloadContainer {
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: #59467f;
  color: $white-text;
  padding: 16px;
  padding-bottom: 48px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.interior {
  display: flex;
  justify-content: center;
}

.masonryGrid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: fit-content;

  @media screen and (max-width: 860) {
    width: auto;
    margin-left: auto;
  }
}
.gridColumn {
  padding-left: 30px; /* gutter size */
  @media screen and (max-width: 860) {
    padding-left: auto;
  }
  background-clip: padding-box;
  & > div {
    margin-bottom: 30px;
  }
}
