@import '~constants';

.container {
  background-color: black;
  width: 100%;
  height: 50vh;
  color: $white-text;
  padding: 16px;
  position: relative;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.interior {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: $font-size-large;
}

.copyright {
  color: $white-text-muted;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, 0);
}
