@import '~constants';

.container {
  max-width: 600px;

  @media screen and (max-width: $breakpoint-xlarge) {
    max-width: 860px;
  }
}

.paper {
  height: 100%;
}

.interior {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.headerRow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 8px;
  text-transform: uppercase;
  align-self: center;
  text-align: center;
}

.linkIcon {
  vertical-align: middle;
  margin-right: 4px;
}

.logo {
  height: 64px;
  object-fit: contain;
  margin-bottom: 16px;
  padding-right: 0px;
  max-width: auto;
  border-radius: 8px;
}

.image {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.mediaContainer {
  padding: 4px;
  box-sizing: border-box;
}

.gfycatEmbed {
  display: block;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 400px;
}

.hr {
  width: 33%;
  opacity: 0.2;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid white;
}

.noLinkHeaderTitle {
  font-weight: bold;
}
